* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(135deg, #481577, #1f1886);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #cce4dd;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: #000000;

  border-color: rgba(36, 99, 110, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(127, 180, 230, 0.6);
  outline: 0 none;
}
input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  /* background: #2b5585; */
  background-image: linear-gradient(to right, #2b5585, #8eb3dd);

  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
}
button:hover {
  background-image: linear-gradient(to left, #2b5585, #8eb3dd);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 9px;
  left: 8px;
}
.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/check-mark.png);
}
ul li span {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  color: #555;
  border-radius: 50%;
  text-align: center;
}
ul li span:hover {
  background: #b7cdda;
}
